.container1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.container2 {
    display: flex;
    justify-content: center;
}


.tr {
    display: flex;
    align-self: center;
}

.th {
    width: 200px;
    height: 100px;
    font-weight: bold;
    color: #6091d3;
    /*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    margin: 2px;
    font-size: 20px;
}

.th-head {
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: #6091d3;
    /*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
    margin: 2px;
    text-align: center;
    font-size: 30px;
}

.th:hover {
    background-color: #6091d3;
}

.sliderContent {
    display: flex;

}

.slider {
    width: 700px;
    margin: 15px;
}

.plusPlan {
    width: 500px
}

.changeMonth {
    font-size: 30px;
    align-self: center;
}

.planName {
    width: 50px;
}